<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- configuring drivermanagerdatasource -->
  <bean id="orcdb" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
  <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
  <property name="username" value="shiva"/>
  <property name="password" value="shiva1234"/>
  </bean>
  <!-- configuring dao -->
  <bean id="dao" class="com.nt.dao.CricketerAvgDaoImpl">
  <constructor-arg ref="orcdb"/>
  </bean>
  <!-- configuring service -->
  <bean id="service" class="com.nt.service.CricketerAvgServiceImpl">
  <constructor-arg ref="dao"/>
   </bean>
  <!-- configure controller  -->
  <bean id="controller" class="com.nt.controller.CricketerAvgController">
  <constructor-arg ref="service"></constructor-arg>
  </bean>
 
  </beans>
