<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- static factory method bean instansiation own class reference -->
        <bean id="c1" class="java.lang.Class" factory-method="forName">
        <constructor-arg value="java.util.Date"/>
        </bean>
        <!-- static factory method returning the reference of subclass -->
        <bean id="cal1"  class="java.util.Calendar"   factory-method="getInstance"/>
        
        <!-- static factory method bean instansiation giving the reference of unknown class -->
        <bean id="con" class="java.sql.DriverManager" factory-method="getConnection">
        <constructor-arg value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <constructor-arg value="shiva"/>
        <constructor-arg value="shiva1234"/>
        </bean>
        <!-- Instance factory-method retruning the obj ref of same class -->
        <bean id="s1" class="java.lang.String">
        <constructor-arg value="shiva"/>
        </bean>
        <bean id="s2"  factory-bean="s1"  factory-method="concat">
        <constructor-arg value="1234"></constructor-arg>
        </bean>
        <!-- bean factory-method returning the object of different class -->
        <bean id="sbf" class="java.lang.StringBuffer">
        <constructor-arg value="hellow how are you"/>
        
        </bean>
        <bean id="s3" factory-bean="sbf" factory-method="substring">
        <constructor-arg value="0"/>
        <constructor-arg value="5"/>
        </bean>
        </beans>